body
{
    .header-flex
    {
        display: flex;
        margin: 10px;
        padding: 15px;
        justify-content: space-between;

    }
    .header-item-social
    {
        display: flex;
        color: white;
        
       
    }
    .fb
    {
        margin: 10px;
    }
    .fb-btn
    {
        color: white;
        border-color: black;
        background-color: black;
        border: none;
       
 
    }
    .fb-btn:hover
    {
       color:#E5BF4A ;
       
       -webkit-transform:scale(-1);
       transform:scaleX(-1);
    
          
    }
    .insta
    {
        margin: 10px;
    }
    .ig-btn
    {
        color: white;
        border-color: black;
        background-color: black;
        border: none; 
    }
    .ig-btn:hover
    {
        color:#E5BF4A ;
        -webkit-transform:scale(-1);
        transform:scaleX(-1);
    }

    .X
    {
      margin: 10px;
    }
    .x-btn
    {
        color: white;
        border-color: black;
        background-color: black;
        border: none;
    }
    .x-btn:hover
    {
        color:#E5BF4A ;
        -webkit-transform:scale(-1);
        transform:scaleX(-1); 
    }

    .header-item-text
    {
        
        padding: 10px;
       
    }

   
    .header-text
    {
        font-family: "Jost", sans-serif ,cursive;
        font-style:italic;
        color:#E5BF4A;        
    }

    
    .btn-call
   {
    border-color: #E5BF4A;
    background-color: black;
    color: #E5BF4A;
    font-family: "Jost",sans-serif;


   } 
    .btn-call:hover
   {
    color: white;
    background-color:#E5BF4A;
    }

    
  .header2-flex
    {
        display: flex;
        gap: 40px;
        color: white;
        justify-content: center;
        position: sticky;
    }
    .bg-cup-text    
    {
        color:white;
        position: absolute;
        top: 350px;
        margin-left: 90px;
        padding-right: 50px;
        font-size: 40px;
        font-family:"Poiret One", cursive;
        font-weight:400;
    }

    .order-btn-div
    {
        position:absolute;
        top: 630px;
        
        
    }
    
    .order-btn
    {
    
        color:black;
        background-color:#E5BF4A;
        border-color: #E5BF4A;
        font-size:large;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        margin-left: 100px;
        font-family: Arial;

    }
    .order-btn:hover
    {
      color: #E5BF4A;
      border-color: #E5BF4A;
      background-color: black;
    }
    .schilers-text
    {
        color: white;
        font-family: "Poiret One", cursive;
        font-size: 90x;
        font-weight: 400;
    }
    .flex2-txt-img
    {
        color: white;
        display: flex;
        padding: 30px;
        margin: 60px;
        justify-content: center;
    }
    .schilers-text-h2
    {
        font-family: "Poiret One", cursive;
        font-size: 20x;
        font-weight: 400;
        color: #E5BF4A;
    }
    .f2-text
    {
        font-size: 20px;
        font-weight: 400;
        font-family: "Poiret One", cursive;
        
    }
    
    .order-cake-flex3
    {
        display: flex;
        justify-content: space-between;
        margin: 50px;
        
    }
    .cake-cashmere-text
    {
        color: white;
        font-family: "Poiret One", cursive;
        font-size: 25px;
        font-weight: 400;
    }
    .cake-cashmere-price
    {
        color: #E5BF4A;
        font-family: "Jost",sans-serif;
        font-size: 20px;
        font-weight: 400;

    }
    .cake-delightful-text
    {
        color: white;
        font-family: "Poiret One", cursive;
        font-size: 25px;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        margin-left: 15px;

    }
    .cake-delightful-price
    {
        color: #E5BF4A;
        font-family: "Jost",sans-serif;
        font-size: 20px;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        line-height: 1x;

    }



}
