body
{
    .header-flex
    {
        display: flex;
        margin: 10px;
        justify-content: space-between;

    }
    .header-item-social
    {
        display: flex;
        padding: 10px;
        margin: 10px;
       
    }
    .fb
    {
        margin: 5px;
    }
    .insta
    {
        margin: 5px;
    }
    .X
    {
      margin: 5px;
    }

    .header-item-text
    {
        
        padding: 10px;
       
    }

   .btn-call
   {
    border-color: #E5BF4A;
    background-color: black;


   }
   .btn-call:hover
   {

    background-color:#E5BF4A;
    color:white;
    
    



   }

    h1
    {
        font-family: sans-serif;
        font-style: italic;
        color: gold;
        /* text-align: center; */
    }
    .header-callus-text
    {
        font-family: sans-serif;
        font-style: italic;
        color: gold;
        
    }  
}
